@import url('/src/css/temp/fonts.css');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}


/*Добавка на этот сайт*/

body{
  font-family: TT Interfaces;
}

a, p, h1, h2, h3, h4, h5, h6{
  color: rgb(27, 27, 27);
}

[class*="__container"]{
  max-width: 1254px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.content{
  background: rgb(252, 252, 252);
}

hr{
  border: 1px solid rgb(226, 225, 225);
}

button, a{
  cursor: pointer;
}


button, input, textarea{
  outline: none;
}